
<button mat-raised-button [disabled] = check() color="accent" *ngIf="!value">{{ value }}</button>

<button mat-raised-button color="primary"  *ngIf="value == users.player1symbol">{{ value }}</button>
<button  mat-raised-button color="warn"  *ngIf="value == users.player2symbol">{{ value }}</button>
<button mat-raised-button color="primary"  *ngIf="value == users.player3symbol">{{ value }}</button>
<button  mat-raised-button color="warn"  *ngIf="value == users.player4symbol">{{ value }}</button>


