

<a mat-raised-button color="warn" (click)="openplaymenu()">Game Options</a>


<div class = "cont">
<div>player 1 : {{users.player1name}}   </div>
<div>player 2 : {{users.player2name}}     </div>
<div>player 3 : {{users.player3name}}    </div>
<div>player 4 : {{users.player4name}}    </div>
</div>


<div class = "cont">
    <div> Player 1 Symbol: {{users.player1symbol}}</div>
    <div> Player 2 Symbol: {{users.player2symbol}}</div>
    <div> Player 3 Symbol: {{users.player3symbol}}</div>
    <div> Player 4 Symbol: {{users.player4symbol}}</div>
</div>


<p><span> Selected Win Condition
</span><b>{{users.selected}}</b>
</p>

<p><span>Selected Game Mode
</span><b>{{users.selectedmode}}</b>
</p>




<h1> Current Player Turn: {{player}} </h1>
<h2> {{player}} Symbol: {{playersymbol}} </h2>
<h2   
*ngIf = "winnername" >    
     {{ winnername }} has won the game!
</h2>
<h2   
*ngIf = "draw && !winner" >    
    The game is a draw
</h2>

<button mat-raised-button color="primary" (click) = "newGame()"> Start New Game </button>


<main>
    <div  *ngFor = "let ro of boxBoard; let i  = index">
        <app-squarecell *ngFor = "let co of ro; let j  = index"
        [value] = "co"
        [winnerFound] = "winner"


        (click) = "makeMove2(i, j)">
        </app-squarecell>
    </div>
</main> 







  








