
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0%;
}
  
app-squarecell {
    border: 1px gray solid;
    height: 75px;
  
}




h1 { color: #e7e7e7; font-family: 'Lato', sans-serif; font-size: 40px; font-weight: 300; line-height: 58px; margin: 0 0 58px; }


.winbg{
    width: 100%;
    height: 100%;

    background-image: linear-gradient ( black 80%, white 20% );
}

h2 {    color: #d3d3d3; font-family: 'Lato', sans-serif; font-size: 40px; font-weight: 300; line-height: 58px; margin: 0 0 58px; }


