



<p><span> 
    Select a Win condition:
</span></p>
<select (change) = "selectChangehandler($event)" [value]='3'> 
<option value = "3"> 3 </option> 
<option value = "4"> 4 </option>
<option value = "5"> 5 </option> 

</select>
<p><span>You Selected
</span><b>{{selected}}</b>

<h4><span> 
    Select a Mode
</span></h4>
<select (change) = "selectChangehandlermode($event)" [value]='3'> 
<option value = "ffa"> FFA </option>
<option value = "team"> Teams </option> 


</select>
<p><span>You Selected
</span><b>{{selectedmode}}</b>



</p>

<h1> Current Player : {{player}} </h1>
<h2   
*ngIf = "winner" >    
    Player {{ winner }} has won the game!
</h2>
<h2   
*ngIf = "draw && !winner" >    
    The game is a draw
</h2>

<button mat-raised-button color="primary" (click) = "newGame()"> Start New Game </button>

<!--   
    
    <main>
    <app-squarecell

        *ngFor = "let val of squares; let ind  = index"
       
        [value] = "val"
        [winnerFound] = "winner"
        (click) = "makeMove(ind)">
    </app-squarecell>
    
</main>    -->

<main>
   

    <div  *ngFor = "let ro of boxBoard; let i  = index">
        <app-squarecell *ngFor = "let co of ro; let j  = index"
        [value] = "co"
        [winnerFound] = "winner"
        (click) = "makeMove2(i, j)">
        </app-squarecell>
        </div>
</main> 



  








